@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Manrope:wght@400;800&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root {
    --white: rgb(253, 253, 253);
    --black: rgb(38, 38, 38);
    --light-black: rgba(80, 80, 80, 0.201);
    --grey: rgba(80, 80, 80, 0.744);
}

body {
    overflow-x: hidden;
}

nav {
    display: flex;

    padding: 16px 32px;

    justify-content: space-between;
    align-items: center;
    z-index: 999;

    position: fixed;
    width: 100%;
    top: 0;
}

.nav-main {
    display: flex;
    gap: 32px;
    z-index: 99999;
}

.logo {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
}

.logo span {
    color: rgb(169, 185, 185);
}

.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    letter-spacing: -0.5px;
    font-weight: 200;
}

a:hover {
    color: rgb(122, 120, 120);
    transition: all 0.5s ease;
}

.nav-link {
    text-decoration: none;
}

.dropdown {
    cursor: default;
}

.dropdown ul {
    display: none;
    background-color: rgb(251, 251, 251);
    padding: 16px;
    list-style: none;
    transition: all 15s ease;

}

.dropdown-list {
    width: 300px;
    border-radius: 5px;
}

.dropdown ul li a {
    color: var(--grey);
}

.dropdown ul li a:hover {
    color: var(--black);
}

.dropdown ul li {
    margin: 8px;
}

.dropdown:hover>ul {
    display: list-item;
    position: absolute;
    list-style: none;
    transition: all 0.5s ease;
}

.btn {
    padding: 8px 16px;
    border-radius: 50px;
    border: none;

}

.btn-primary {
    background-color: var(--black);
    color: var(--white);
    margin-left: 8px;
}

.btn-secondary {
    background-color: var(--white);
    color: var(--black);
    border: 0.1px solid rgb(225, 225, 225);
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: var(--light-black);
    color: var(--black);
    transition: all 0.5s ease;
}

.nav-mobile {
    display: none;
    background-color: var(--light-black);
    padding: 48px;
    list-style: none;
    transition: all 15s ease;
}

.menu {
    display: none;
}

/** not yet responsive

/** dark mode switch
**/
@media only screen and (max-width: 700px) {

    .nav-links,
    .cta {
        display: none;
        transition: all 0.5s ease;
    }

    .menu {
        display: flex;
        transition: all 0.5s ease;
    }

    .menu:hover>.nav-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        list-style: none;
        transition: all 0.5s ease;
        width: 100vw;

    }

    .dropdown:hover>ul {
        position: relative;
        background-color: transparent;
    }

    .nav-mobile li {
        margin: 8px 0;
    }

}

.scroll {
    background-color: rgba(255, 255, 255, 0.808);
    transition: all 1s;
}

.brand-logo {
    width: 100px;
    height: 100px;
    align-items: center;
    position: absolute;
    object-fit: contain;
    left: 50%;
}

.about-us {
    position: relative;
    height: 100vh;
}

.text-part {
    background-color: #7E2426;
    height: 100vh;
}

.img-part {
    background-image: url(./images/pexels-ketut-subiyanto-4473612.jpg);
    background-size: cover;
    object-fit: contain;
    filter: grayscale(1);
    transition: all 1s;

}

.img-part:hover {
    filter: grayscale(0);
    transition: all 1s;
}

.text-part>h1 {
    position: absolute;
    top: 40%;
    left: 10%;

    color: white;
}

.text-part>p {
    position: absolute;
    top: 50%;
    left: 5%;
    color: white;
}

.readmore {
    color: white;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.button1 {
    position: absolute;
    color: white;
    top: 60%;
    left: 9%;
    width: 30%;
    height: ;
    margin-bottom: 2rem;
    font-size: 20px;
    border: 1px solid white;
    width: 12rem;
    padding-left: 2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.9rem;
    color: black;
    position: absolute;



}

.button1:hover {
    opacity: 0.5;
    transition: all 1s;
}

.history {

    height: 100vh;
    background-color: #F2F1ED;
    display: flex;
}

.history-img {
    object-fit: cover;
    height: 60vh;
    width: 80vh;
    filter: grayscale(1);
    transition: all 1s;
}

.history-img:hover {
    filter: grayscale(0);
    transition: all 1s;
}

.text-part2 {
    margin-top: 25vh;
    transform: scale();
    margin-bottom: 50vh;
}


.img-part2 {
    margin-top: 20vh;
    display: flex;

}

.text-part2>h2 {
    padding-left: 150px;
}

.p1,
.p2,
.p3,
.p4 {
    margin: 2rem;
    font-size: 15px;
    padding-left: 150px;
}

.our-story {
    height: 90vh;
    background-color: ;
    display: flex;
}

.text-part3>h2 {
    padding-left: 150px;
}


.text-part3 {
    margin-top: 35vh;
    transform: scale();
    margin-bottom: 50vh;
}

.footer-classic {
    height: 25rem;
    margin-top: 2rem;
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
    color: black;
    padding-top: 2rem;
}

.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}


h5,
dd,
dt {
    color: black;
}

ul,
ol {
    list-style: none;

}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(7, 7, 7, 0.5);
}

.social-container .col {
    border: 1px solid rgba(12, 12, 12, 0.1);
}


/*
0-600px: Phone
600-900px: Tablet Potrait
900-1200px: Tablet Landscape
1200-1800px: Desktop
1800px + : Big Desktop 
*/
@media (max-width:1800px) {
    .about-text {
        font-size: 12px;
        position: absolute;
        top: 10%;
        padding: 0;
    }

    h1 {
        font-size: 25px;
    }

    .readmore {
        font-size: 15px;
    }

    .button1 {
        width: 150px;
    }

    .history-img {
        width: 500px;
        display: block;
    }

    .p1,
    .p2,
    .p3,
    .p4 {
        font-size: small;
    }

    .corousel-img {
        width: 600px;
    }
}

@media (max-width:1034px) {
    .about-text {
        font-size: 10px;
        position: absolute;
        top: 10%;
        padding: 0;
        transform: scale(1.2);
    }

    h1 {
        font-size: 20px;
    }

    .readmore {
        font-size: 10px;
    }

    .button1 {
        width: 120px;
    }

    .history-img {
        width: 400px;
    }

    .p1,
    .p2,
    .p3,
    .p4 {
        font-size: x-small;
        transform: scale(1.2);
    }

    body {
        overflow-x: hidden;
    }
}

@media (max-width:600px) {
    .text-part {
        display: block;
    }

    img {
        display: block;
    }

    p {
        display: block;
    }
}