@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Manrope:wght@400;800&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root {
    --white: rgb(253, 253, 253);
    --black: rgb(38, 38, 38);
    --light-black: rgba(80, 80, 80, 0.201);
    --grey: rgba(80, 80, 80, 0.744);
}

body {
    overflow-x: hidden;
}

nav {
    display: flex;

    padding: 16px 32px;
    border-bottom: 0.1px solid rgb(225, 225, 225);
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-main {
    display: flex;
    gap: 32px;
    z-index: 99999;
}

.logo {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
}

.logo span {
    color: rgb(169, 185, 185);
}

.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    letter-spacing: -0.5px;
    font-weight: 200;
}

a:hover {
    color: rgb(122, 120, 120);
    transition: all 0.5s ease;
}

.nav-link {
    text-decoration: none;
}

.dropdown {
    cursor: default;
}

.dropdown ul {
    display: none;
    background-color: rgb(251, 251, 251);
    padding: 16px;
    list-style: none;
    transition: all 15s ease;

}

.dropdown ul li a {
    color: var(--grey);
}

.dropdown ul li a:hover {
    color: var(--black);
}

.dropdown ul li {
    margin: 8px;
}

.dropdown:hover>ul {
    display: list-item;
    position: absolute;
    list-style: none;
    transition: all 0.5s ease;
}

.dropdown-list {
    width: 300px;
}

.btn {
    padding: 8px 16px;
    border-radius: 50px;
    border: none;

}

.btn-primary {
    background-color: var(--black);
    color: var(--white);
    margin-left: 8px;
}

.btn-secondary {
    background-color: var(--white);
    color: var(--black);
    border: 0.1px solid rgb(225, 225, 225);
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: var(--light-black);
    color: var(--black);
    transition: all 0.5s ease;
}

.nav-mobile {
    display: none;
    background-color: var(--light-black);
    padding: 48px;
    list-style: none;
    transition: all 15s ease;
}

.menu {
    display: none;
}

/** not yet responsive

/** dark mode switch
**/
@media only screen and (max-width: 700px) {

    .nav-links,
    .cta {
        display: none;
        transition: all 0.5s ease;
    }

    .menu {
        display: flex;
        transition: all 0.5s ease;
    }

    .menu:hover>.nav-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        list-style: none;
        transition: all 0.5s ease;
        width: 100vw;

    }

    .dropdown:hover>ul {
        position: relative;
        background-color: transparent;
    }

    .nav-mobile li {
        margin: 8px 0;
    }

}


.brand-logo {
    width: 100px;
    height: 100px;
    align-items: center;
    position: absolute;
    object-fit: cover;
    left: 50%;
    padding-bottom: 50px;
    z-index: 99999;

}


.main-head {
    margin-top: 20vh;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 25px;
}

.under-arrival {
    margin-top: 5rem;
}

.neww-arrvl-img {
    width: 300px;
    height: 400px;
}

.row1 {
    margin-top: 10rem;
}

.row2,
.row3 {
    margin-top: 5rem;
}

.rug-heading {
    text-align: center;
    text-transform: uppercase;
    padding-top: 1.5rem;
}

.size {
    text-align: center;
}

/*----------------------------------------------------------POPUP CONTENT---------------------------------------------------------------------*/

.popup {
    height: 110vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.801);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    display: flex;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup_content {
    width: 75%;
    height: 50rem;
    background-color: white;
    box-shadow: 0 2rem 4rem black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.pop-img {
    width: 500px;
    height: 600px;
    display: flex;
}

.popup-heading1 {
    text-align: center;
    letter-spacing: 2px;
}

.popup-data {
    padding-top: 10rem;
}

.popup-close {
    float: right;
    font-size: 30px;
    align-items: center;
    position: absolute;
    right: 2%;
    top: 5;


}



.popup-close:link {}

.popup-close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 5.5rem;
    font-size: 5rem;
    text-decoration: none;
    display: inline-block;
}

.footer-classic {
    height: 25rem;
    margin-top: 2rem;
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
    color: black;
    padding-top: 2rem;
}

.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}


h5,
dd,
dt {
    color: black;
}

ul,
ol {
    list-style: none;

}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.social-container .col {
    border: 1px solid rgba(3, 3, 3, 0.1);
}

h1 {
    text-align: center;
    line-height: 1;
    color: black;
    font-size: 40px;
    text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap");

h1 span {
    letter-spacing: 10px;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition-timing-function: ease-out;
    transform: translate3d(-30%, -100%, 0);
    position: relative;
    left: 5%;
    font-family: 'Tilt Neon', cursive;

}

h1 span:nth-child(1) {
    animation-delay: 0.1s;
    animation-name: rampUp;
}

h1 span:nth-child(2) {
    animation-delay: 0.2s;
    animation-name: rampUp;
}

h1 span:nth-child(3) {
    animation-delay: 0.3s;
    animation-name: rampUp;
}

h1 span:nth-child(4) {
    animation-delay: 0.4s;
    animation-name: rampUp;
}

h1 span:nth-child(5) {
    animation-delay: 0.5s;
    animation-name: rampUp;
}

h1 span:nth-child(6) {
    animation-delay: 0.6s;
    animation-name: rampUp;
}

h1 span:nth-child(7) {
    animation-delay: 0.7s;
    animation-name: rampUp;
}

h1 span:nth-child(8) {
    animation-delay: 0.8s;
    animation-name: rampUp;
}

h1 span:nth-child(9) {
    animation-delay: 0.9s;
    animation-name: rampUp;
}

h1 span:nth-child(10) {
    animation-delay: 1s;
    animation-name: rampUp;
}

h1 span:nth-child(11) {
    animation-delay: 1.1s;
    animation-name: rampUp;
}

h1 span:nth-child(12) {
    animation-delay: 1.2s;
    animation-name: rampUp;
}

h1 span:nth-child(13) {
    animation-delay: 1.3s;
    animation-name: rampUp;
}

h1 span:nth-child(14) {
    animation-delay: 1.4s;
    animation-name: rampUp;
}

h1 span:nth-child(15) {
    animation-delay: 1.5s;
    animation-name: rampUp;
}

h1 span:nth-child(16) {
    animation-delay: 1.6s;
    animation-name: rampUp;
}

h1 span:nth-child(17) {
    animation-delay: 1.7s;
    animation-name: rampUp;
}

h1 span:nth-child(18) {
    animation-delay: 1.8s;
    animation-name: rampUp;
}

h1 span:nth-child(19) {
    animation-delay: 1.9s;
    animation-name: rampUp;
}

h1 span:nth-child(20) {
    animation-delay: 2s;
    animation-name: rampUp;
}

h1 span:nth-child(21) {
    animation-delay: 2.1s;
    animation-name: rampUp;
}

h1 span:nth-child(22) {
    animation-delay: 2.2s;
    animation-name: rampUp;
}

h1 span:nth-child(23) {
    animation-delay: 2.3s;
    animation-name: rampUp;
}

@keyframes rampUp {
    0% {
        transform: translate3d(-30%, 100%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@media (max-width:600px) {
    html {
        display: none;
    }

    body {
        display: none;
    }



}