@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Manrope:wght@400;800&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root {
    --white: rgb(253, 253, 253);
    --black: rgb(38, 38, 38);
    --light-black: rgba(80, 80, 80, 0.201);
    --grey: rgba(80, 80, 80, 0.744);
}
@media (max-width:480px) {
    html {
        width: 600px;
    }

    body {

        width: 600px;
    }

    nav {
        width: 600px;
    }

    .corousel-img,
    img {
        width: 600px;

    }

    .underline {
        display: none;
    }

    .artist-img,
    .dazzling-img,
    .cocooning-img,
    .handmade,
    .colorbox-img,
    .quality-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        transform: scale(0.9);
    }

    .collection {
        height: 370vh;
        width: 600px;
    }

    .Our-Speciality {
        height: 350vh;
        width: 600px;
    }

    .Products {
        height: 300vh;
        width: 600px;
    }

    .arrival-img {
        transform: scale(0.9);
    }

    .newarrival {
        transform: scale(0.9);
    }

    .footer-classic {
        height: 110vh;
    }

    .explore-btn {
        transform: scale(0.9);
        margin-top: 5rem;
    }

    h3 {
        padding-top: 20px;
    }

    h1 {
        transform: scale(0.8);
    }

}
    
body {
    overflow-x: hidden;
}

nav {
    display: flex;

    padding: 16px 32px;

    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background-color: none;
    position: fixed;
    width: 100%;
    top: 0;
}

.scroll {
    background-color: rgba(255, 255, 255, 0.808);
    transition: all 1s;
}

.nav-main {
    display: flex;
    gap: 32px;
    z-index: 99999;
}

.logo {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
}

.brand-logo {
    width: 100px;
    height: 100px;
    align-items: center;
    position: absolute;
    object-fit: contain;
    left: 50%;

}

.logo span {
    color: rgb(169, 185, 185);
}

.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    letter-spacing: -0.5px;
    font-weight: 200;
}

a:hover {
    color: rgb(122, 120, 120);
    transition: all 0.5s ease;
}

.nav-link {
    text-decoration: none;
}

.dropdown {
    cursor: default;
}

.dropdown ul {
    display: none;
    background-color: rgb(251, 251, 251);
    padding: 16px;
    list-style: none;
    transition: all 15s ease;

}



.dropdown ul li a {
    color: var(--grey);
}

.dropdown ul li a:hover {
    color: black;
}

.dropdown ul li {
    margin: 8px;
}

.dropdown-list {
    width: 300px;
    height: px;
}

.dropdown:hover>ul {
    display: list-item;
    position: absolute;
    list-style: none;
    transition: all 0.5s ease;
}

.btn {
    padding: 8px 16px;
    border-radius: 50px;
    border: none;

}

.btn-primary {
    background-color: var(--black);
    color: var(--white);
    margin-left: 8px;
}

.btn-secondary {
    background-color: var(--white);
    color: var(--black);
    border: 0.1px solid rgb(225, 225, 225);
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: var(--light-black);
    color: var(--black);
    transition: all 0.5s ease;
}

.nav-mobile {
    display: none;
    background-color: var(--light-black);
    padding: 48px;
    list-style: none;
    transition: all 15s ease;
}

.menu {
    display: none;
}

/** not yet responsive

/** dark mode switch
**/
@media only screen and (max-width: 900px) {

    .nav-links,
    .cta {
        display: none;
        transition: all 0.5s ease;
    }

    .menu {
        display: flex;
        transition: all 0.5s ease;
    }

    .menu:hover>.nav-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        list-style: none;
        transition: all 0.5s ease;
        width: 100vw;

    }

    .dropdown:hover>ul {
        position: relative;
        background-color: transparent;
    }

    .nav-mobile li {
        margin: 8px 0;
    }

}



.corousel-img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.explore-btn {
    z-index: 990;
    position: absolute;
    top: 50%;
    left: 20%;
    background-color: white;
    margin: 2rem;
    font-size: 20px;
    letter-spacing: 0.3rem;

    width: 15rem;
    padding-left: 4.6rem;
    padding-top: 0.8rem;
    padding-bottom: 0.9rem;
    color: black;
    border-radius: 50px;
    font-weight: 700;
    animation: moveInRight 5s ease-in;
    transition: all 1s;
}

.explore-btn:hover {
    background-color: #080808;
    color: white;
    transition: all 1s;
}


.Main-Heading {
    Opacity: 1;
    Position: Absolute;
    Width: 50%;
    Font-Size: 3rem;
    Z-Index: 100;
    Top: 2em;
    Left: 2em;
    Color: #FFFFFF;
}



/* BG SLIDESHOW CSS */
.Slideshow,
.Slideshow::After {
    Position: ;
    Width: 100%;
    Height: 100%;
    Top: 0px;
    Left: 0px;
    Z-Index: 0px;
}

.Slideshow::After {
    Content: '';
    Background: Linear-Gradient(-70deg, Rgba(0, 0, 0, 0), Rgba(0, 0, 0, 1));
}

.Img-Bg-Slide {
    Width: 100%;
    Height: 100%;
    Position: Absolute;
    Top: 0px;
    Left: 0px;
    Color: Transparent;
    /*Hides Span's Text*/
    Background-Size: Cover;
    /* Covers Whole Viewport */
    Background-Position: 100% 100%;
    Background-Repeat: None;
    Opacity: 0;
    Z-Index: 0;
    Animation: BackgroundSlideshow 60s Linear Infinite 0s;
}

.Slideshow Li:nth-Child(1) .Img-Bg-Slide {
    Background-Image: Url('Https://I.Imgur.Com/8TrVYTS.Jpg');
}

.Slideshow Li:nth-Child(2) .Img-Bg-Slide {
    Background-Image: Url('Https://I.Imgur.Com/DDa43Fn.Jpg');
    Animation-Delay: 15s;
}

.Slideshow Li:nth-Child(3) .Img-Bg-Slide {
    Background-Image: Url('Https://I.Imgur.Com/KxOhxyk.Jpg');
    Animation-Delay: 30s;
}

.Slideshow Li:nth-Child(4) .Img-Bg-Slide {
    Background-Image: Url('Https://I.Imgur.Com/R0jp6Br.Jpg');
    Animation-Delay: 45s;
}

@Keyframes BackgroundSlideshow {
    0% {
        Opacity: 0;
    }

    12.5% {
        Opacity: 1;
    }

    25% {
        Opacity: 1;
    }

    37.5% {
        Opacity: 0;
    }

    100% {
        Opacity: 0;
    }
}












.collection {
    margin-top: 60rem;
    /* background-image: url(./images/imageedit_1_3800212224.png); */
    background-size: cover;
    height: 100rem;
    opacity: 1;
}

/* .collection:hover {
    background-color: black;

} */

.collection {

    padding-top: 10rem;
}

.collection>h2 {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    color: black;
    font-weight: 900;
}

.button-sub {
    margin-bottom: 2rem;
    font-size: 20px;
    letter-spacing: 0.3rem;
    background-color: #153774;
    width: 12rem;
    padding-left: 0.8rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    color: white;
    position: absolute;
    margin-top: 2rem;
    border-radius: 100px;

}

p {
    padding-top: 2rem;
    color: black;
}

.col1 {
    padding-left: 9rem;
}

.col2 {
    padding-left: 9rem;
    margin-top: 5rem;
}



.artist-img {
    margin-top: 10rem;
    height: 500px;
    width: 80%;
}



.dazzling-img {
    margin-top: 20vh;
    margin-left: 6rem;
    width: 80%;
    height: 500px;
}

.cocooning-img {
    width: 80%;
    height: 500px;
    margin-top: 10rem;
    margin-left: 8rem;
}

.cocooning-carpet {
    padding-top: 20rem;
}



.underline {
    border: 2px solid black;
    width: 50px;
    position: absolute;
    left: 48%;
    margin-top: 2rem;
}



.Our-Speciality {
    padding-top: 15rem;
    /* background-image: url(./images/oldmancrpt.png); */
    background-size: cover;
    height: 100rem;
}

/* .Our-Speciality:hover {
    background-color: black;
} */

.handmade {
    margin-top: 15vh;
    width: 500px;
    height: 500px;
    padding-right: 5rem;
}

.colorbox-img {
    width: 500px;
    margin-top: 15vh;
    height: 500px;

}

.quality-img {
    margin-top: 15vh;
    width: 500px;
    height: 500px;
    padding-left: 5rem;

}




.Products {
    padding-top: 2rem;
    /* background-image: url(./images/producbg.png); */
    background-size: cover;
    height: 80rem;
}

/* .Products:hover {
    background-color: black;
} */

.product-section {
    padding-top: 10vh;
}

.product-section2 {
    padding-top: 5vh;
}


.newarrival {
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 600px;
}

.arrival-img {
    width: 600px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    transition: all 10s;

    border-radius: 5px;
}


.arrival-img:hover {
    transform: scale(1.5);
    overflow: hidden;
    transition: all 10s
}

.product-h5 {
    position: absolute;
    top: 40%;
    left: 10%;
    letter-spacing: 0.3rem;
    color: black;
    font-size: ;

}

.arrival-button {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 10%;
    width: 30%;
    height: 12%;
    margin-bottom: 2rem;
    font-size: 20px;


    width: 12rem;
    padding-left: 0.3rem;
    padding-top: 0.4rem;
    padding-bottom: 0.9rem;
    color: black;
    position: absolute;
    margin-top: 2rem;


}

.newarrival>a {
    color: white;
    text-align: center;
    padding: 3rem;
}

.arrival-button:hover {
    background-color: black;
    color: white;

}

.col-4 {
    transform: scale(0.8);

}

.col-4:hover {
    transform: scale(1);
}



.context-dark,
.bg-gray-dark,
.bg-primary {
    color: rgba(10, 10, 10, 0.8);
}



.footer-classic {
    height: 25rem;
    margin-top: 2rem;
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
    color: #080808;
    padding-top: 2rem;
}

.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}



ul,
ol {
    list-style: none;

}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(14, 13, 13, 0.5);
}

.social-container .col {
    border: 1px solid rgba(8, 8, 8, 0.1);
}


/* .collection:hover {
    opacity: 1;
    animation: moveInLeft 1s ease-in;
}

.Our-Speciality:hover {
    animation: moveInRight 1s ease-in;
}

.Products:hover {
    animation: moveInLeft 1s ease-in;
} */



@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}



/*----------------------------------------------------------Media Query-------------------------------------------------------------------------*/
/*
0-600px: Phone
600-900px: Tablet Potrait
900-1200px: Tablet Landscape
1200-1800px: Desktop
1800px + : Big Desktop 
*/



/* @media only screen and (max-width: 600px) {
    body {}

    html {
        width: 600px;
    }

    body {
        width: 600px;
        padding: ;
    }

    .button-sub {
        width: 150px;
        margin-left: 3rem;

    }

    #navbar {
        width: 600px;
    }

    .explore-btn {
        margin-top: 7rem;
    }

    .col-lg-4,
    .production-section .artist-img,
    .dazzling-img,
    .cocooning-img {
        padding: 0;
        margin: 0;
        width: 600px;
        ;
    }

    .artist-img {
        width: 100%;
    }

    .col2,
    .col1,
    .col3 {
        margin: 0;
        padding: 0;
    }

    .cocooning-carpet {
        padding-top: 10rem;
    }

    .cocooning-img {
        padding-top: 8rem;
    }

    .collection {
        margin-top: 40rem;
        height: 310vh;
        display: block;
    }

    .Main-Content {
        height: 200px;
    }

    .Our-Speciality {
        height: 350vh;
    }

    .pQ {
        padding-left: 0;
    }

    h3 {
        margin-top: 1rem;
    }

    p,
    h3 {
        padding-left: 3rem;
    }

    .handmade {
        padding: 0;
        margin-top: 2rem;
        width: 100%;
    }

    .quality-img {
        width: 100%;
        padding: 0;

    }

    .handmade1 {
        padding: 0;
        margin: 0;
    }



    .Products {
        height: 310vh;
        padding: 0;
    }

    .corousel-img {
        width: 600px;
    }

    .arrival-img,
    .product-section2,
    .newarrival {
        width: 600px;
    }

    .newarrival {
        transform: scale(0.8);
    }

    .nav-list {
        padding: 0;
        margin: 0;
    }

    .footer-classic {
        height: 115vh;
    }

    .col,
    .social-container {
        padding: 0;
        width: 600px;
    }
}


@media only screen and (max-width: 900px) and (min-width:601px) {
    body {}

    html {
        width: 900px;
    }

    body {
        width: 900px;
        font-size: 20px;
    }

    .button-sub {
        width: 150px;
        margin-left: 3rem;

    }

    #navbar {
        width: 900px;
    }

    .explore-btn {
        margin-top: 7rem;
    }



    .col-lg-4,
    .production-section,
    .dazzling-img,
    .cocooning-img {
        padding: 0;
        margin: 0;
        width: 900px;
        height: auto;
        padding-top: 2rem;

    }

    .artist-img {
        width: 900px;
        height: auto;
        padding-top: 1rem;
    }


    .col2,
    .col1,
    .col3 {
        margin: 0;
        padding: 0;
    }

    .cocooning-carpet {
        padding-top: 10rem;
    }

    .cocooning-img {
        padding-top: 8rem;
    }

    .collection {
        margin-top: 40rem;
        height: 600vh;
        display: block;
    }

    .Main-Content {
        height: 200px;
    }

    .Our-Speciality {
        height: 380vh;
    }

    .pQ {
        padding-left: 0;
    }

    h3 {
        margin-top: 1rem;
    }

    p,
    h3 {
        padding-left: 3rem;
    }

    .handmade {
        padding: 0;
        margin-top: 2rem;
        width: 100%;
    }

    .quality-img {
        width: 100%;
        padding: 0;

    }

    .handmade1 {
        padding: 0;
        margin: 0;
    }



    .Products {
        height: 350vh;
        padding: 0;
    }

    .corousel-img {
        width: 900px;
    }

    .arrival-img,
    .product-section2,
    .newarrival {
        width: 900px;

    }



    .newarrival {
        transform: scale(0.8);
    }

    .nav-list {
        padding: 0;
        margin: 0;
    }

    .footer-classic {
        height: 75vh;
    }

    .col,
    .social-container {
        padding: 0;
        width: 900px;
    }
}

@media only screen and (max-width: 1200px) and (min-width:901px) {
    body {}

    html {
        width: 1200px;
    }

    body {
        width: 1200px;
        font-size: 20px;
    }

    .button-sub {
        width: 150px;
        margin-left: 3rem;

    }

    #navbar {
        width: 1200px;
    }

    .explore-btn {
        margin-top: 7rem;
    }



    .col-lg-4,
    .production-section,
    .dazzling-img,
    .cocooning-img {
        padding: 0;
        margin: 0;
        width: 1200px;
        height: auto;
        padding-top: 2rem;
        object-fit: cover;

    }

    .artist-img {
        width: 1200px;
        height: auto;
        padding-top: 1rem;
    }


    .col2,
    .col1,
    .col3 {
        margin: 0;
        padding: 0;
    }

    .cocooning-carpet {
        padding-top: 10rem;
    }

    .cocooning-img {
        padding-top: 8rem;
    }

    .collection {
        margin-top: 60rem;
        height: 570vh;
        display: block;
    }

    .Main-Content {
        height: 200px;
    }

    .Our-Speciality {
        height: 270vh;
    }

    .pQ {
        padding-left: 0;
    }

    h3 {
        margin-top: 1rem;
    }

    p,
    h3 {
        padding-left: 3rem;
    }

    .handmade {
        padding: 0;
        margin-top: 2rem;
        width: 100%;
    }

    .quality-img {
        width: 100%;
        padding: 0;

    }

    .handmade1 {
        padding: 0;
        margin: 0;
    }



    .Products {
        height: 270vh;
        padding: 0;
    }

    .corousel-img {
        width: 1200px;
    }

    .arrival-img,
    .product-section2,
    .newarrival {
        width: 1200px;

    }



    .newarrival {
        transform: scale(0.8);
    }

    .nav-list {
        padding: 0;
        margin: 0;
    }

    .footer-classic {
        height: 40vh;
    }

    .col,
    .social-container {
        padding: 0;
        width: 1200px;
    }


}

@media only screen and (max-width: 1800px) and (min-width:1201px) {
    body {}

    html {
        width: 1800px;
    }

    body {
        width: 1800px;
        font-size: 20px;
    }

    .button-sub {
        width: 150px;
        margin-left: 3rem;

    }

    #navbar {
        width: 1800px;
    }

    .explore-btn {
        margin-top: 7rem;
    }



    .col-lg-4,
    .production-section,
    .dazzling-img,
    .cocooning-img {
        transform: scale(0.9);

    }

    .artist-img {
        transform: scale(0.9);
    }


    .col2,
    .col1,
    .col3 {
        margin: 0;
        padding: 0;
    }

    .cocooning-carpet {
        padding-top: 10rem;
    }

    .cocooning-img {
        padding-top: 8rem;
    }

    .collection {
        margin-top: 60rem;
        height: 150vh;
        display: block;
    }

    .Main-Content {
        height: 200px;
    }

    .Our-Speciality {
        height: 150vh;
    }

    .pQ {
        padding-left: 0;
    }

    h3 {
        margin-top: 1rem;

    }

    h4 {
        padding-left: 6rem;
    }

    .pQ {
        padding-left: 6rem;
    }

    .handmade {
        padding: 0;
        margin: 0;
        width: 100%;
        transform: scale(0.9);
    }

    .quality-img {
        width: 100%;
        margin: 0;
        transform: scale(0.9);
        padding-left: 5rem;

    }

    .handmade1 {
        padding: 0;
        margin: 0;
        transform: scale(0.9);
    }



    .Products {
        height: 100vh;
        padding: 0;
        transform: scale(0.9);
    }

    .corousel-img {
        width: 1800px;
    }

    .arrival-img,
    .product-section2,
    .newarrival {}



    .newarrival {
        transform: scale(0.9);
    }

    .nav-list {
        padding: 0;
        margin: 0;
    }

    .footer-classic {
        height: 40vh;
    }

    .col,
    .social-container {
        padding: 0;
        width: 1800px;
    }


} */
